# Ignore generated executables
/bin/*
!/bin/.gitkeep

# Release artifacts
/dist/*
!/dist/.gitkeep

# Ignore standard Go build artifacts
*.exe
*.test
*.out
*.prof

# Drawio temp files
.$diagrams.drawio.svg.dtmp

# Generated ANTLR files
*.java
internal/grammar/rhumb_lexer.go
internal/grammar/rhumb_parser.go
internal/grammar/rhumbparser_base_listener.go
internal/grammar/rhumbparser_base_visitor.go
internal/grammar/rhumbparser_listener.go
internal/grammar/rhumbparser_visitor.go
internal/grammar/**/*.interp
internal/grammar/**/*.tokens
internal/grammar/.antlr

commit_message.txt
*.log