# 1. Ignore generated executables
/bin/*
!/bin/.gitkeep

# 2. Ignore standard Go build artifacts
*.exe
*.test
*.out
*.prof

# 3. Drawio temp files
.$diagrams.drawio.svg.dtmp

# 4. Generated ANTLR files
*.java
internal/grammar/rhumb_lexer.go
internal/grammar/rhumb_parser.go
internal/grammar/rhumbparser_base_listener.go
internal/grammar/rhumbparser_base_visitor.go
internal/grammar/rhumbparser_listener.go
internal/grammar/rhumbparser_visitor.go
internal/grammar/.antlr
